n8n-webhook-workflow.json
{
  "name": "GitHub → Auto Deploy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-deploy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-deploy"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "condition-main-branch",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-main-branch",
      "name": "Is main branch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "command": "cd /opt/bardidinaXmageUI && ./deploy.sh 2>&1 | tee /tmp/deploy.log",
        "options": { "timeout": 600 }
      },
      "id": "execute-deploy",
      "name": "Run deploy.sh",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [690, 200]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, stdout: $json.stdout?.substring(0, 500) }) }}"
      },
      "id": "respond-success",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, reason: 'not main branch', ref: $json.body?.ref }) }}"
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 420]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Is main branch?", "type": "main", "index": 0 }]
      ]
    },
    "Is main branch?": {
      "main": [
        [{ "node": "Run deploy.sh", "type": "main", "index": 0 }],
        [{ "node": "Respond Skip", "type": "main", "index": 0 }]
      ]
    },
    "Run deploy.sh": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
